@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
.navLogo {
   font-weight: 900;
   font-size: 25px;
}

.nav-link {
   font-weight: 900;
}

main {
   margin-top: 16vh;
}

#toggleNav {
   border: none;
}

#quote {
   font-family: 'Julee', cursive;
   font-size: 23px;
}
